@import 'mixins/badge';
@import 'mixins/border';
@import 'mixins/box';
@import 'mixins/colors';
@import 'mixins/gradient';

.MessySection
  abspos 0px 0px 0px 0px
  color text-color
  background-color bg-color
  overflow auto

  > #Messy
    background none
    position relative
    padding 1px 5px 1px 7px

    .NodeRow

      &.Test
        background-color bg-color
        &:nth-child(2n)
          background-color bg-color + #060606

        > #children
          padding-bottom 3px

      &.Suite
        background-color bg-color
        border-radius 3px
        border-bottom 1px solid bg-color-dark

        &.expanded
          box-shadow 0px 0px 5px shadow-color
          background-color bg-color-light
          margin-top 5px
          margin-bottom 5px

      &.DbTable, &.SysProps, &.UserProps, &.ConfigDistrict, &.ConfigSite, &.ConfigSiteDefaults
        margin 2px 10px 5px 30px
        position relative
        background-color bg-color-dark
        border 1px solid shadow-color
        border-radius 3px

        > .Node
          position relative
          color text-color-dark
          font-size 12px
          height 28px
          line-height 28px
          z-index 2

          &.expanded
            border-bottom 1px solid shadow-color
            color text-color
            > #expando
              left 8px
              top 13px
              border-color #DDD transparent transparent transparent

            > .label
              color text-color
              font-weight bold

          > .label
            text-decoration none
            color text-color-dark

            &.isempty
              color text-disabled-color
              font-style italic

            &:hover
              text-decoration underline

          > #expando
            display block
            position absolute
            left 10px
            top 11px
            border-color transparent transparent transparent bg-selected-color-light
            border-style solid
            border-width 4px
            height 0
            width 0

          > .count
            min-width 25px
            margin-left 22px
            margin-right 5px
            margin-top 1px
            height 26px
            badge badge-gray

            &.red
              badge badge-red

        > #children
          z-index 1
          margin 0
          background-color bg-color-light
      
      &.issue
        background-color bg-color-dark
        &:nth-child(2n+1)
          background-color #2D2D2D
        position relative
        z-index 1
        padding 5px 5px 5px 7px
        font-size 12px

        .diffArrow
          font-size 14px
          color #888

        .diff
          font-family Courier New, monospace
          display inline-block
          min-width 75px
          text-align right
          padding 0px 5px 0px 5px
          font-size 14px
          color #a9db80

          &.after
            color #f18e99
            text-align left

        .name
          display inline-block
          min-width 400px

 
