@import 'mixins/border'
@import 'mixins/box'
@import 'mixins/colors'
@import 'mixins/gradient'
@import 'mixins/pos'
@import 'mixins/transition'

.SignIn
  position relative
  panelcolor = hsl(205deg,49%,55%)
  text-align right

  &.loggedin
    > #signin-group
      display none
    > .SignedIn
      display inline-block
  
  &.selected > #signin-group
    background-color panelcolor
    border-radius 0 0 5px 5px
    box-shadow 0 2px 5px rgba(#000,.5)
    color text-color

    > #signin-toggle
      color text-color

    > #input-group
      display block

  > .SignedIn
    display none

  > #signin-group
    padding 3px 0 0 0
    > #signin-toggle
      color text-color
      text-decoration none
      display inline-block
      padding 0 10px 0 10px
      width 150px
      opacity .6

      &:hover
        opacity 1
    
    > #input-group
      display none
      padding 0px 20px 5px 20px
      color text-color
      text-align right

      input
        color bg-color-dark
        background-color rgba(text-color,.8)
        margin 5px 2px 0 7px
        padding 2px 5px 2px 5px
        width 100px
        outline none
        border-radius 2px
        border none
        box-shadow inset 0 1px 1px rgba(#000,.8)

        &:focus
          background-color text-color

        &.invalid
          border 2px solid #F88
          margin 3px 2px 0px 7px
      
      > #loginFailed
        display none
        color #F88
        font-family Helvetica, Arial, sans-serif
        font-weight bold
        font-size 12px
        letter-spacing 1px
        padding 0 7px 0 0
        text-shadow 0 0px 1px rgba(#000,.8)

      > #signin-button
        margin 5px 0 0 0
