.App{position:absolute;width:100%;height:100%;overflow:hidden;background-color:#333;}
.App > .Bar{position:absolute;top:0;right:0;bottom:0;left:0;height:22px;z-index:2}
.App > #content{position:absolute;top:22px;right:0;bottom:0;left:0;z-index:1;}
.App > #content > .Page{width:100%;height:100%}
