.IEGTFO
  font-family Helvetica, Arial, sans-serif
  padding 60px
  font-size 40px
  font-weight bold
  color #666

  > div
    padding 10px 0 0 0

    .ftlog
      font-size 30px
      padding 0 0 10px 0
      font-weight normal
      color #666

    .ftlog2
      padding 10px 0 0 0
      font-size 16px
      span
        font-weight bold
        color #888
      
    &.ie
      color #855
      padding 20px 0 0 0
      > span
        font-size 45px

    &.pls
      padding 50px 0 100px 0
      font-size 70px
      color #888
       
