@import 'mixins/border';
@import 'mixins/colors';
@import 'mixins/pos';
@import 'mixins/transition';

.IterationChooser
  font-family Helvetica, Arial, sans-serif
  position relative
  width 70px
  margin-right 20px

  > .iterNum
    &::before
      abspos 4px false false 17px
      
    &::after
      abspos 4px 17px false false

    &::after, &::before
      box-shadow inset 0px 1px 1px shadow-color-dark
      background-color bg-color-dark
      border-radius 5px
      content ""
      display block
      height 6px
      width 6px

    box-shadow 0px 2px 5px rgba(shadow-color-dark,.7)
    text-shadow 0px -1px 0px rgba(0,0,0,.5)
    border-radius 3px
    background-color #666
    color text-color-dark
    font-size 32px
    font-weight bold
    height 100%
    margin-bottom 4px
    padding 15px 0 8px 0
    position relative
    text-align center
    vertical-align middle
    width 100%

    &:hover
      color text-color
      > .prevIter, > .nextIter
        opacity .4

    > .prevIter, > .nextIter
      display block
      font-family 'Nunito', serif
      font-size 28px
      font-style normal
      font-weight bold
      opacity .1
      text-decoration none
      color text-color

      &:visited
        color text-color

      &:hover
        opacity 1.0

      overhang = -22px
      topPos = 15px

      &.nextIter
        abspos topPos overhang 0px false

      &.prevIter
        abspos topPos false 0px overhang

  > .iterLabel
    color text-disabled-color
    text-align center
    font-size 13px
    font-weight bold
