@import 'mixins/box';
@import 'mixins/colors';
@import 'mixins/pos';

.Page
  position relative

  > .Nav
    abspos 0px false 0px 0px
    width 120px

  > #content
    abspos 0px 0px 0px 120px
    padding 2px 7px 7px 7px
    background-color bg-color
    overflow auto
    
