.Page{position:relative;}
.Page > .Nav{position:absolute;top:0;bottom:0;left:0;width:120px}
.Page > #content{position:absolute;top:0;right:0;bottom:0;left:120px;padding:2px 7px 7px 7px;background-color:#404040;overflow:auto}
