@import 'mixins/colors'
@import 'mixins/border'
@import 'mixins/box'
@import 'mixins/gradient'
@css{ @import url(http://fonts.googleapis.com/css?family=Droid+Sans:bold); }

.SectionTitle
  height 35px
  background-color shadow-color
  gradient bg-color-dark shadow-color
  border-bottom 1px solid #4D4D4D
  padding 2px 10px 0 10px
  line-height 35px
  overflow hidden
  position relative

  > #title
    font bold 22px 'Droid Sans', sans-serif
    color #5489AF
    padding 4px 0 0 5px
    display inline-block
    text-shadow 0px 1px 0px #000

  > #description
    font-family Helvetica, Arial, sans-serif
    display inline-block
    font-size 12px
    font-style italic
    color text-disabled-color
    padding 0 0 5px 8px
    vertical-align middle
  


