@import 'mixins/pos';
@import 'mixins/badge';
@import 'mixins/box';
@import 'mixins/border';
@import 'mixins/colors';
@import 'mixins/triangle';

.CodeSection
  padding 0px 0px 10px 0px
  position relative
    
  > .nocodetasks
    width 100%
    text-align center
    font-weight bold
    padding 15px 0 0 0
    color bg-color-light

  > .tabs
    box horizontal
    box-align center

    > .tab
      box-flex 1
      display block
      color #888
      font-size 12px
      margin 0 0px 10px 0px
      padding 10px 10px 7px 10px
      background-color #333
      border-right 1px solid #222
      text-align center
      text-decoration none
      position relative

      &.selected
        background-color #414141
        font-weight bold
        color #FFF

        triangle up 5px lighten(#111,7%) #333 1px 19px 0px 0px 42%
    

  > .CatTable
    > .category
      amt = .25
      lamt = 55%
      &.notStarted
        > .header
          redcolor = lighten(badge-red,lamt)
          background-color rgba(badge-red,amt)
          color redcolor
          position relative

      &.inProgress
        > .header
          background-color rgba(badge-yellow,amt)
          color lighten(badge-yellow,lamt - 10%)

      &.complete
        > .header
          background-color rgba(badge-green,amt)
          color lighten(badge-green,lamt - 10%)
      
      > .header
        text-align left

      > .members > .member > .column
        vertical-align middle

        &.description
          box-flex 1
          overflow hidden
          text-overflow ellipsis
          white-space nowrap

          > a
            color text-color-dark
            text-decoration none

            &:hover
              text-decoration underline

        &.owner
          text-align right
          width 80px
